<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="POST" action="{{ url_for('user_create') }}">
        {{ form.username }}
        <input type="submit" value="Go">
    </form>
</body>
</html>