<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ul>
        {% for user in rv %}
            <li>{{ user }} <a href="{{ url_for('user_update', id=user.id ) }}">update</a></li>
        {% endfor %}
    </ul>
    <br/>
    <a href="{{ url_for('user_create') }}">add</a>
</body>
</html>