<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if name %}
        <h1>Hello {{ name }}</h1>
    {% else %}
        <h1>Hello Wordl!</h1>
    {% endif %}
    <br>
    <a href="https://oauth.vk.com/authorize?client_id=4678188&scope=friends&redirect_uri=http://127.0.0.1:5000/welcome">
        login
    </a>
</body>
</html>